/**
* CSS file to hold styles that apply across the application
*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

#nav-bar {
  position: fixed;
  display: flex;
  justify-content: center;
  gap: 2rem;
  background: rgba(255, 255, 255, 0.75);
  padding: 1rem;
  top: 0;
  width: 100%;
  z-index: 10;
}

div#main {
  display: flex;
  flex-direction: column;
}

section {
  position: relative;
}

section.dark {
  min-height: 100vh;
  height: 100vh;
  color: white;
  background: rgba(0, 0, 0, 0.25);
}

section.light {
  color: black;
  background: rgba(255, 255, 255, 0.35);
  padding: 8rem 0;
}

section img.background {
  width: 100vmax;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
  object-fit: cover;
}

.name {
  position: absolute;
  top: 30%;
}

.title {
  position: absolute;
  top: 50%;
}

h1 {
  font-weight: 300;
  font-family: 'Cormorant Garamond', serif;
  font-size: 7rem;
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 300;
}

p.large {
  font-size: 24px;
}

p.medium {
  font-size: 20px;
}

p.small {
  font-size: 15px;
}

hr {
  margin: 2.5rem;
}

li {
  line-height: 1.7;
}

li::marker {
  color: #4e567e;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #4e567e;
}

.box-container {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  padding-top: 3rem;
  width: 50%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.box {
  margin: 10px 10px;
  width: 300px;
  border-radius: 10px;
  padding: 24px 16px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid rgb(204, 204, 204);
  text-align: center;
  background-color: white;
}

.portfolio-title {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  border: 1px solid rgb(204, 204, 204);
  background-color: white;
  text-align: center;
  width: 200px;
  border-radius: 10px;
}

.profile-arrow {
  position: absolute;
  bottom: 2rem;
  left: 50%;
}

.about-title {
  text-align: center;
}
img.socialIcon {
  width: 30px;
  height: 30px;
}

.skillset {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

img.skill-icon {
  height: 70px;
}

img.profile {
  height: 80vh;
  margin: 80px 800px;
  align-items: center;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.663);
  border-radius: 20px;
}

#home {
  border: black 2px solid;
  background: linear-gradient(to bottom right, blue, grey);
}

@media screen and (max-width: 390px) {
  #nav-bar {
    position: fixed;
    display: flex;
    justify-content: center;
    gap: 2rem;
    background: rgba(255, 255, 255, 0.75);
    padding: 1rem;
    top: 0;
    width: 100vw;
    z-index: 10;
  }
  img.profile {
    position: absolute;
    top: 20%;
    left: 10%;
    /* display: flex;
    height: 50vh;
    margin: 0 auto;
    align-items: center; */
    box-shadow: 20px 20px rgba(0, 0, 0, 0.663);
    border-radius: 20px;
    z-index: -1;
  }
  .profile-details {
    position: absolute;
    top: 10%;
    left: 2rem;
  }
  .profile-arrow {
    position: absolute;
    bottom: 2rem;
    left: 45%;
  }
  p.large {
    font-size: 20px;
  }
  .skillset {
    height: 350px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  p.medium {
    font-size: 20px;
  }
  .container {
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 420px) {
}
@media screen and (max-width: 540px) {
}
@media screen and (max-width: 701px) {
}
